{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <div>
            <div>
                <!-- <div class="formtext">Change Password</div> -->
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <div>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                   
                    <form method="post">
                        {% csrf_token %}
                        <div class="formtext">
                            <h3>Change Password</h3>
                        </div><br><br>

                        <div class="formtext">
                            <label for="current_password">Current Password:</label>
                            <input class = "forminput" type="password" name="current_password" id="current_password" required>
                        </div>
                        <div class="formtext">
                            <label for="new_password">New Password:</label>
                            <input class = "forminput" type="password" name="new_password" id="new_password" required>
                        </div>
                        <div class="formtext">
                            <label for="new_password2">Confirm New Password:</label>
                            <input class = "forminput" type="password" name="new_password2" id="new_password2" required>
                        </div>
                        <div class="formtext"><button class = "forminput" type="submit">Change Password</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
