{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>

<body>
    <div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <h2>Create an account.</h2>
                <div class="formtext">
                    <input class = "forminput" type="text" name="first_name" placeholder="First name" required>
                </div>
                <div class="formtext">
                    <input class = "forminput" type="text" name="last_name" placeholder="Last name" required>
                </div>
                <div class="formtext">
                    <input class = "forminput" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="formtext">
                    <input class = "forminput" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="formtext">
                    <input class = "forminput" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="formtext">
                    <input class = "forminput" type="password" name="password1" placeholder="Confirm Password" required>
                </div>
                <div class="formtext">
                    <button class = "forminput" type="submit">Sign Up</button>
                </div>
                <div class="formtext"><p>You already have an account?</p><a href="/"> Login here.</a></div>
                {% for message in messages %}
                <div>
                    <p style="color: red; text-align: center;" >{{ message }}</p>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</body>

</html>
